.slider-container {
  position: relative;
}

.slider-slide {
  width: 100vw;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 7s ease-in-out;
}

.slider-slide.active {
  animation: slide-in 7s forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.slider-container {
  position: relative;
}

.slider-slide {
  width: 100vw;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 7s ease-in-out;
}

.slider-slide.active {
  animation: slide-in 7s forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
